.Hero {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #E4E9F7;
    padding: 0 55px;
    overflow: hidden;

    .row {
        display: flex;
        width: 100%;
        height: 600px;
        padding-left: 90px;
        padding-right: 90px;

        .left {
            position: relative;
            padding-left: 13px;

            .small-title {
                position: relative;
                color: #344767;
                display: inline-block;
                font-size: 16px;
                letter-spacing: 0.03em;
                line-height: 1.12;
                font-family: "Roboto", sans-serif;
                margin-bottom: 11px;
                animation-fill-mode: both;
                animation-name: fadeInUp;
                animation-delay: .3s;
                animation-duration: 1s;

                .bold-text {
                    font-weight: 700;
                    color: #000;
                }
            }

            .title {
                color: #000;
                font-size: 80px;
                font-weight: 500;
                letter-spacing: -.01em;
                line-height: 1.05;
                font-family: "Roboto", sans-serif;
                margin-bottom: 45px;
                z-index: 2;
                animation-fill-mode: both;
                animation-name: fadeInUp;
                animation-delay: .5s;
                animation-duration: 1s;
            }

            .btn {
                display: inline-flex;
                align-items: center;
                justify-content: centers;
                color: #fff;
                border: 0;
                letter-spacing: -0.025rem;
                box-shadow: 0 4px 7px -1px rgba(0, 0, 0, 0.11), 0 2px 4px -1px rgba(0, 0, 0, 0.07);
                background-size: 150%;
                font-size: 0.75rem;
                line-height: 1.4;
                font-weight: 700;
                padding: 0.5rem 2rem;
                text-transform: uppercase;
                text-decoration: none;
                z-index: 2;
            }

            .btn-outline {
                position: relative;
                background-color: #E4E9F7;
                color: #1f1f24;
                border: 1px solid #000;
                transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
                z-index: 10;
                animation-fill-mode: both;
                animation-name: fadeInUp;
                animation-delay: .7s;
                animation-duration: 1s;

                &:hover {
                    background-color: #344767;
                    color: #fff;
                    opacity: 1;

                    img {
                        filter: invert(1);
                        transition: filter 0.3s ease;
                    }
                }
            }

            @keyframes fadeInUp {
                0% {
                    transform: translateY(20px);
                    opacity: 0;
                }

                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

        .right {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .circle {
                position: absolute;
                top: 22%;
                left: 25%;
                background-color: #423f74;
                border-radius: 50%;
                width: 400px;
                height: 400px;
                opacity: 0.8;
                animation: pulsing 6s ease-out infinite;
                z-index: 1;

                &:nth-of-type(1) {
                    animation-delay: -3s;
                }
            }

            img {
                position: relative;
                z-index: 2;
                top: 15%;
                left: -4%;
                animation-fill-mode: both;
                animation-name: fadeInRight;
                animation-delay: .9s;
                animation-duration: 1s;
            }

            @keyframes pulsing {
                0% {
                    transform: scale(2);
                    opacity: 0;
                }

                50% {
                    transform: scale(1);
                    opacity: 0.4;
                }

                100% {
                    transform: scale(2);
                    opacity: 0;
                }
            }

            @keyframes fadeInRight {
                0% {
                    transform: translateX(10%);
                    opacity: 0;
                }

                100% {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .Hero {
        min-height: 650px;
        padding: 0;
        align-items: center;
        overflow-x: hidden;

        .row {
            padding-left: 0;
            padding-right: 0;

            .left {
                margin-bottom: -100px;
                padding-left: 15px;

                .title {
                    font-size: 40px;
                }
            }

            .right {
                .circle {
                    width: 350px;
                    height: 350px;
                    left: 28%;
                    top: 40%;
                }

                img {
                    top: 40%;
                    left: 10%;
                    height: auto;
                    max-width: 400px;
                }
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .Hero {
        min-height: 900px;
        align-items: center;

        .row {
            padding-left: 0;
            padding-right: 0;

            .left {
                padding-left: 15px;
                margin-bottom: -100px;

                .title {
                    font-size: 60px;
                }
            }

            .right {
                .circle {
                    top: 25%;
                    left: 35%;
                }

                img {
                    top: 28%;
                    left: 10%;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .Hero {
        .row {
            padding-left: 0;
            padding-right: 0;

            .right {
                .circle {
                    top: 25%;
                    left: 15%;
                }
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .Hero {
        .row {
            .right {
                img {
                    left: 2%;
                }
            }
        }
    }
}