.shop {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 0 55px;
    z-index: 98;

    .container {
        margin-top: 100px;

        .shop-header {
            border: 1px solid #dadce0;
            padding: 15px 20px 15px 30px;
            margin-bottom: 50px;

            .row {
                align-items: center;

                .shop-result {
                    .result {
                        color: #000;
                        font-family: "Roboto", sans-serif;
                        line-height: 26px;
                        font-weight: 400;
                        font-size: 16px;
                        margin-bottom: 0;
                    }
                }

                .shop-sort {
                    .sort {
                        display: flex;
                        align-items: center;
                        justify-content: end;

                        .sort-tab {
                            border: 0;
                            margin: 0;
                            padding: 0;

                            .link {
                                margin-right: 20px;
                                border: 0;
                                background-color: transparent;

                                &.active {
                                    img {
                                        filter: brightness(0);
                                    }
                                }
                            }
                        }

                        .sorting {
                            position: relative;
                            border: 1px solid #dadce0;
                            border-radius: 0;
                            color: #000;
                            background-color: #fff;
                            font-family: "Roboto", sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            height: 40px;
                            line-height: 40px;
                            padding: 0 20px;
                            width: 230px;
                            cursor: pointer;

                            .title {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;
                                height: 100%;
                            }

                            .submenu {
                                display: none;
                                position: absolute;
                                box-shadow: 0 20px 30px rgba(3, 4, 28, .1);
                                top: 40px;
                                left: 0;
                                width: 230px;
                                opacity: 0;
                                background: #fff;
                                transform: scaleY(0);
                                transform-origin: top center;
                                z-index: 99;

                                &.active {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    transform: scaleY(1);
                                    opacity: 1;
                                    padding: 12px 0;
                                    transition: all 0.3s ease;
                                    margin: 0;
                                }

                                .option {
                                    position: relative;
                                    line-height: 30px;
                                    font-size: 14px;
                                    font-family: "Roboto", sans-serif;
                                    text-align: left;
                                    padding-left: 18px;
                                    padding-right: 29px;
                                    list-style: none;
                                    width: 100%;

                                    &.selected {
                                        font-weight: 700;
                                    }

                                    &:hover {
                                        background-color: #344767;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .shop-body {
            .row {
                .left {
                    order: 1;

                    .sidebar {
                        .tab {
                            margin-bottom: 25px;

                            .accordion {
                                .accordion-header {
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    flex-direction: row;
                                    border-bottom: 1px solid #dadce0;
                                    margin-bottom: 25px;

                                    .title {
                                        font-size: 17px;
                                        font-family: "Roboto", sans-serif;
                                        margin: 0;
                                    }
                                }

                                .accordion-content {
                                    max-height: 0;
                                    transition: max-height 0.4s ease-out;
                                    overflow: hidden;

                                    &.active {
                                        max-height: 500px;
                                    }

                                    .mini-search {
                                        padding-bottom: 25px;
                                        padding-top: 10px;

                                        form {
                                            .search-input {
                                                position: relative;

                                                input {
                                                    background-color: #fff;
                                                    border: 1px solid #dadce0;
                                                    font-family: "Roboto", sans-serif;
                                                    font-size: 14px;
                                                    height: 46px;
                                                    padding: 0 45px 0 20px;
                                                    width: 100%;
                                                }
                                            }
                                        }
                                    }

                                    .list {
                                        height: 120px;
                                        overflow-y: auto;

                                        &::-webkit-scrollbar {
                                            display: none;
                                        }

                                        .list-item,
                                        .list-item-color {
                                            margin-bottom: 6px;

                                            .custom,
                                            .color-checkbox {
                                                opacity: 0;
                                                position: absolute;
                                                z-index: -1;
                                            }

                                            .custom:checked+label:before,
                                            .color-checkbox:checked+label:before {
                                                background-color: #000;
                                                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
                                                background-size: 14px 14px;
                                                background-repeat: no-repeat;
                                                background-position: center;
                                            }

                                            label {
                                                position: relative;
                                                display: inline-block;
                                                color: #525258;
                                                font-family: "Roboto", sans-serif;
                                                font-size: 14px;
                                                font-weight: 500;
                                                padding-left: 31px;

                                                &:before,
                                                &:after {
                                                    box-sizing: border-box;
                                                    position: absolute;
                                                    content: "";
                                                    height: 18px;
                                                    width: 18px;
                                                    left: 0;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    transition: all 0.1s ease-out 0s;
                                                }

                                                &:before {
                                                    z-index: 1;
                                                    text-align: center;
                                                    line-height: 18px;
                                                }

                                                &:after {
                                                    border: 1px solid #dadce0;
                                                    background-color: #fff;
                                                }
                                            }

                                            &.list-item-color label:before,
                                            &.list-item-color label:after {
                                                border-radius: 50%;
                                                height: 22px;
                                                width: 22px;
                                            }

                                            &.list-item-color .color-checkbox:checked+label:before {
                                                background-color: var(--checkbox-color);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    order: 2;

                    .content {
                        .tab-panel {
                            .tab-grid-view {
                                transition: opacity .15s linear;

                                .row {
                                    .grid-card {
                                        .product-grid-item {
                                            position: relative;
                                            margin-bottom: 50px;
                                            transition: all .3s ease-out 0s;

                                            &:hover {
                                                .product-grid-image {
                                                    a {
                                                        img {
                                                            transform: scale(1.1);
                                                        }
                                                    }

                                                    .product-grid-action {

                                                        a:first-child,
                                                        button:first-child {
                                                            transition-delay: 0s;
                                                        }

                                                        a:nth-child(2),
                                                        button:nth-child(2) {
                                                            transition-delay: .1s;
                                                        }

                                                        a,
                                                        button {
                                                            opacity: 1;
                                                            transform: translateX(0);
                                                            visibility: visible;
                                                        }
                                                    }

                                                    .product-grid-add {
                                                        bottom: 0;
                                                        opacity: 1;
                                                        visibility: visible;
                                                    }
                                                }
                                            }

                                            .product-grid-image {
                                                position: relative;
                                                overflow: hidden;

                                                a {
                                                    color: inherit;
                                                    background-color: transparent;
                                                    border: 0;
                                                    outline: none;
                                                    text-decoration: none;

                                                    img {
                                                        max-width: 100%;
                                                        height: auto;
                                                        transition: all .3s ease-out 0s;
                                                    }
                                                }

                                                .product-grid-discount {
                                                    position: absolute;
                                                    left: 0;
                                                    top: 20px;

                                                    .product-grid-discount-item {
                                                        background-color: #000;
                                                        color: #fff;
                                                        font-size: 13px;
                                                        margin-bottom: 5px;
                                                        padding: 4px 10px;
                                                        text-transform: capitalize;
                                                    }
                                                }

                                                .product-grid-action {
                                                    position: absolute;
                                                    display: flex;
                                                    flex-direction: column;
                                                    flex-wrap: wrap !important;
                                                    right: 10px;
                                                    top: 40px;

                                                    .product-grid-button {
                                                        position: relative;
                                                        display: inline-block;
                                                        text-align: center;
                                                        width: 38px;
                                                        height: 38px;
                                                        line-height: 38px;
                                                        margin-bottom: 6px;
                                                        border: none;
                                                        opacity: 0;
                                                        background-color: #fff;
                                                        box-shadow: 0 1px 3px rgba(3, 4, 28, .12);
                                                        transform: translateX(100%);
                                                        transition: visibility .3s ease-out .1s, opacity .3s ease-out .15s, transform .3s ease-out .1s;
                                                        visibility: hidden;
                                                        transition: all .3s ease-out 0s;

                                                        &:hover {
                                                            background-color: #423f74;

                                                            img {
                                                                filter: brightness(0) invert(1);
                                                                transition: all .3s ease-out 0s;
                                                            }

                                                            .product-grid-button-tooltip {
                                                                opacity: 1;
                                                                right: 100%;
                                                                visibility: visible;
                                                            }

                                                        }

                                                        &:first-child {
                                                            transition-delay: .14s;
                                                        }

                                                        .product-grid-button-tooltip {
                                                            position: absolute;
                                                            display: inline-block;
                                                            right: 90%;
                                                            top: 50%;
                                                            font-size: 12px;
                                                            font-weight: 500;
                                                            line-height: 1;
                                                            margin-right: 8px;
                                                            opacity: 0;
                                                            padding: 4px 8px;
                                                            color: #fff;
                                                            background-color: #000;
                                                            visibility: hidden;
                                                            transform: translateY(-50%);
                                                            width: max-content;
                                                            z-index: 1;

                                                            &:after {
                                                                position: absolute;
                                                                top: 50%;
                                                                right: 0;
                                                                content: "";
                                                                width: 8px;
                                                                height: 8px;
                                                                background-color: #000;
                                                                transform: translate(50%, -50%) rotate(45deg);
                                                            }
                                                        }
                                                    }
                                                }

                                                .product-grid-add {
                                                    position: absolute;
                                                    bottom: -60px;
                                                    left: 0;
                                                    right: 0;
                                                    opacity: 0;
                                                    visibility: hidden;
                                                    transition: all .3s ease-out 0s;

                                                    .product-grid-add-cart {
                                                        display: inline-block;
                                                        width: 100%;
                                                        font-size: 15px;
                                                        font-weight: 600;
                                                        padding: 7px 25px;
                                                        text-align: center;
                                                        border: none;
                                                        color: #fff;
                                                        background-color: #000;
                                                        transition: all .3s ease-out 0s;

                                                        img {
                                                            margin-right: 7px;
                                                            margin-bottom: 5px;
                                                            filter: brightness(0) invert(1);
                                                        }

                                                        &:hover {
                                                            background-color: #423f74;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        .product-grid-content {
                                            padding-top: 15px;

                                            .product-grid-title {
                                                font-size: 14px;
                                                font-weight: 400;
                                                font-family: "Inter", sans-serif;

                                                a {
                                                    background-color: transparent;
                                                    color: inherit;
                                                    border: none;
                                                    outline: none;
                                                    text-decoration: none;
                                                }
                                            }

                                            .product-grid-price {
                                                .product-grid-amount {
                                                    color: #000;
                                                    font-size: 15px;
                                                    font-weight: 500;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .tab-list-view {
                                .row {
                                    .list-card {
                                        .product-list-item {
                                            background: #fff;
                                            border: 1px solid #e9e9f0;
                                            margin-bottom: 30px;

                                            .row {
                                                .image {
                                                    .product-list-image {
                                                        position: relative;
                                                        height: 100%;
                                                        overflow: hidden;

                                                        a {
                                                            background: transparent;
                                                            border: none;
                                                            color: inherit;
                                                            outline: none;
                                                            text-decoration: none;

                                                            img {
                                                                width: 330px;
                                                                max-width: 100%;
                                                                height: 100%;
                                                                object-fit: cover;
                                                            }
                                                        }

                                                        .product-list-discount {
                                                            position: absolute;
                                                            display: flex;
                                                            flex-wrap: wrap;
                                                            left: 0;
                                                            top: 20px;

                                                            .product-list-discount-item {
                                                                display: inline-block;
                                                                font-size: 13px;
                                                                line-height: 1;
                                                                margin-bottom: 5px;
                                                                padding: 4px 10px;
                                                                text-transform: capitalize;
                                                                color: #fff;
                                                                background-color: #000;
                                                            }
                                                        }
                                                    }
                                                }

                                                .content {
                                                    align-self: center;

                                                    .product-list-content {
                                                        margin-left: -5px;
                                                        padding-top: 47px;
                                                        padding-right: 75px;
                                                        padding-bottom: 40px;

                                                        .product-list-title {
                                                            font-size: 20px;
                                                            font-weight: 500;
                                                            font-family: "Inter", sans-serif;
                                                            margin-bottom: 12px;

                                                            a {
                                                                background: transparent;
                                                                border: none;
                                                                color: inherit;
                                                                outline: none;
                                                                text-decoration: none;
                                                            }
                                                        }

                                                        .product-list-price {
                                                            margin-bottom: 8px;

                                                            .product-list-amount {
                                                                color: #000;
                                                                font-size: 18px;
                                                                font-weight: 500;
                                                            }
                                                        }

                                                        .product-list-description {
                                                            font-size: 14px;
                                                            line-height: 1.57;
                                                            margin-bottom: 28px;
                                                            word-wrap: break-word;
                                                            overflow-wrap: break-word;
                                                            white-space: pre-wrap;
                                                        }

                                                        .product-list-action {
                                                            display: flex;
                                                            flex-wrap: wrap;
                                                            align-items: center;

                                                            button {
                                                                margin-bottom: 6px;

                                                                &:not(:last-child) {
                                                                    margin-right: 6px;
                                                                }
                                                            }

                                                            .product-list-add-cart {
                                                                color: #000;
                                                                border: 1px solid #423f74;
                                                                font-size: 15px;
                                                                font-weight: 500;
                                                                padding: 6px 33px;
                                                                background-color: #fff;

                                                                img {
                                                                    margin-right: 7px;
                                                                    margin-bottom: 5px;
                                                                    filter: brightness(0);
                                                                }

                                                                &:hover {
                                                                    color: #fff;
                                                                    background-color: #423f74;

                                                                    img {
                                                                        filter: brightness(0) invert(1);
                                                                    }
                                                                }
                                                            }

                                                            .product-list-button {
                                                                position: relative;
                                                                font-size: 18px;
                                                                line-height: 38px;
                                                                text-align: center;
                                                                color: #000;
                                                                height: 40px;
                                                                width: 40px;
                                                                border: 1px solid #423f74;
                                                                background-color: #fff;
                                                                cursor: pointer;

                                                                &:hover {
                                                                    background-color: #423f74;

                                                                    img {
                                                                        filter: brightness(0) invert(1);
                                                                        transition: all .3s ease-out 0s;
                                                                    }

                                                                    .product-list-button-tooltip {
                                                                        opacity: 1;
                                                                        visibility: visible;
                                                                    }
                                                                }

                                                                .product-list-button-tooltip {
                                                                    position: absolute;
                                                                    display: inline-block;
                                                                    bottom: 90%;
                                                                    transform: translate(-60%);
                                                                    color: #fff;
                                                                    font-size: 12px;
                                                                    font-weight: 500;
                                                                    line-height: 1;
                                                                    opacity: 0;
                                                                    margin: auto auto 10px;
                                                                    padding: 4px 8px;
                                                                    width: max-content;
                                                                    visibility: hidden;
                                                                    background-color: #000;
                                                                    z-index: 1;
                                                                    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;

                                                                    &:after {
                                                                        position: absolute;
                                                                        left: auto;
                                                                        right: 50%;
                                                                        top: 100%;
                                                                        content: "";
                                                                        height: 8px;
                                                                        width: 8px;
                                                                        background-color: #000;
                                                                        transform: translate(50%, -50%) rotate(45deg);
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .not-found {
                        .cart-text {
                            text-align: center;

                            img {
                                margin-bottom: 30px;
                                background-color: transparent;
                            }

                            .title {
                                font-size: 20px;
                                color: #03041c;
                                font-family: "Space Grotesk", sans-serif;
                                font-weight: 700;
                                line-height: 1.2;
                                margin-top: 0;
                            }

                            .description {
                                color: #03041c;
                                font-size: 16px;
                                margin-bottom: 15px;
                                font-family: "Inter", sans-serif;
                                font-weight: 400;
                                line-height: 26px;
                            }
                        }
                    }

                    .pagination {
                        nav {
                            margin-top: 10px;

                            ul {
                                margin: 0;
                                padding: 0;

                                li {
                                    display: inline-block;
                                    margin-right: 5px;
                                    margin-bottom: 10px;

                                    .pointer {
                                        line-height: 42px;
                                        padding: 12px 19px;
                                        color: #000;
                                        border: 1px solid #423f74;
                                        outline: none;
                                        text-decoration: none;
                                        background: transparent;
                                        cursor: pointer;

                                        &:hover {
                                            background-color: #423f74;
                                            color: #fff;
                                            transition: all 0.3s ease;

                                            .pagination-prev,
                                            .pagination-next {
                                                img {
                                                    filter: brightness(0) invert(1);
                                                    transition: all 0.3s ease;
                                                }
                                            }
                                        }

                                        &.active {
                                            background-color: #423f74;
                                            color: #fff;
                                        }

                                        .pagination-prev,
                                        .pagination-next {
                                            display: inline-block;
                                            font-size: 16px;
                                            font-weight: 500;
                                            min-height: 44px;
                                            min-width: 44px;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 425px) and (max-width: 1024px) {
    .shop {
        .container {
            .shop-body {
                .row {
                    .right {
                        .content {
                            .tab-panel {
                                .tab-list-view {
                                    .row {
                                        .list-card {
                                            .product-list-item {
                                                .row {
                                                    .image {
                                                        .product-list-image {
                                                            a {
                                                                img {
                                                                    width: 100%;
                                                                }
                                                            }
                                                        }
                                                    }

                                                    .content {
                                                        .product-list-content {
                                                            margin-left: 20px;
                                                            padding-right: 20px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 425px) {
    .shop {
        padding: 0;

        .container {
            .shop-header {
                .row {
                    .shop-sort {
                        .sort {
                            justify-content: start;
                        }
                    }
                }
            }

            .shop-body {
                .row {
                    .left {
                        order: 2;
                    }

                    .right {
                        order: 1;

                        .content {
                            .tab-panel {
                                .tab-list-view {
                                    .row {
                                        .list-card {
                                            .product-list-item {
                                                .row {
                                                    .image {
                                                        .product-list-image {
                                                            a {
                                                                img {
                                                                    width: 100%;
                                                                }
                                                            }
                                                        }
                                                    }

                                                    .content {
                                                        .product-list-content {
                                                            margin-left: 20px;
                                                            padding-right: 20px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .pagination {
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .shop {
        .container {
            .shop-body {
                .row {
                    .left {
                        margin-top: 40px;
                        order: 2;
                    }

                    .right {
                        order: 1;
                    }
                }
            }
        }
    }
}