.shop {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 0 55px;
    z-index: 98;

    @media (max-width: 425px) {
        padding: 0;
    }

    .container {
        margin-top: 100px;

        .shop-header {
            border: 1px solid #dadce0;
            padding: 15px 20px 15px 30px;
            margin-bottom: 50px;

            .row {
                align-items: center;

                .shop-result {
                    .result {
                        color: #000;
                        font-family: "Roboto", sans-serif;
                        line-height: 26px;
                        font-weight: 400;
                        font-size: 16px;
                        margin-bottom: 0;
                    }
                }

                .shop-sort {
                    .sort {
                        display: flex;
                        align-items: center;
                        justify-content: end;

                        @media (min-width: 320px) and (max-width: 425px) {
                            justify-content: start;
                        }
                    }
                }
            }
        }

        .shop-body {
            .row {
                .left {
                    order: 1;

                    @media (min-width: 320px) and (max-width: 425px) {
                        order: 2;
                    }

                    @media (min-width: 320px) and (max-width: 991px) {
                        margin-top: 40px;
                        order: 2;
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    order: 2;

                    @media (min-width: 320px) and (max-width: 425px) {
                        order: 1;
                    }

                    @media (min-width: 320px) and (max-width: 991px) {
                        order: 1;
                    }

                    .content {
                        .tab-panel {
                            .tab-grid-view {
                                transition: opacity .15s linear;
                            }
                        }
                    }
                }
            }
        }
    }
}