// Body
$body-bg: #f8fafc;

//Navigation
$primary-color: #11101d;
$primary-light-color: #1d1b31;
$white-color: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;