.logo-section {
    .link {
        background: transparent;
        border: none;
        outline: none;
        color: inherit;
        text-decoration: none;

        .logo {
            height: 50px;
            transition: all .3s ease-out 0;
        }
    }
}